body {
    background: #000000;
    color: #fff;
    margin: 0;
}

.logo {
    font-size: 24px;
    font-style: oblique;
    font-weight: bold;
    color: #6bc7cc;
    letter-spacing: 1px;
    margin-left: 100px;
}


.navbar {
  padding: 0 40px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-right: 250px;
  height: 60px;
  background-color: #0b0f1a;
  border-radius: 0 0 0px 0px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

/* LOGO */
.logo {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
}

/* NAV LINKS */
.nav-links {
  list-style: none;
  display: flex;
  gap: 45px;
  margin-right: 200px; 
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    background: url("../image/bg.gif") no-repeat center center/cover;
    color: #fff;
    padding: 0 20px;
    border-radius: 0 0 20px 20px;
}

/* Overlay */
.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3); /* lighter */
    border-radius: 0 0 20px 20px;
}

/* Keep text above overlay */
.hero-content {
    position: relative;
    z-index: 1;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-top: 20px;
    margin-right: 50px;
}

.hero-content p {
    font-size: 1.2rem;
    margin-top: 20px;
    line-height: 1.6;
    margin-left: 180px;
    margin-right: 80px;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-top: 200px;
    margin-right: 50px;
}
.hero-content h1 span {
    color: #3b82f6;
}

/*
.hero {
    height: 650px; 
    display: flex;
    justify-content: flex-end;
    align-items: top;
    background: #1a1a1a;

    color: #fff;
    text-align: center;
    padding: 0 20px;
    border-radius: 0px 0px 20px 20px;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-top: 200px;
    margin-right: 50px;
}

.hero-content h1 span {
    color: #3b82f6;
}

.hero-content p {
    font-size: 1.2rem;
    margin-top: 20px;
    line-height: 1.6;
    margin-left: 180px;
    margin-right: 80px;
}
/*


/* about me */
#about {
    background:  #0b0f1a;
    padding: 80px 10%;
    margin-bottom: -30px;
    margin-top: 20px;
    max-width: 1400px;
    border-radius: 30px;
    text-align: center;
}

/* Title */ 
#about h2 {
    font-size: 60px;
    margin-bottom: 20px;
    color: #fff;
    margin-top: 60px;
}

/* Paragraphs */
#about p {
    font-size: 20px;
    color: #aaa;
    line-height: 1.7;
    margin-bottom: 18px;
    max-width: 800px;
    margin: auto;
}

/* Highlight text */
#about span{
    color: #ffb400;
}


/* Skill 7 */
.skills-section {
    background: #0b0f1a;
    padding: 20px;
    text-align: center;
    border-radius: 30px;
    margin: 60px auto;
    max-width: 1400px;
  }
  
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* forces 5 in one row */
    gap: 20px;
  }
  
  /* Cards */
  .skill-card {
    background: linear-gradient(145deg, #1a1a1f, #111114);
    padding: 10px 5px;
    border-radius: 20px;
    transition: 0.3s ease;
    border: 1px solid rgba(255,255,255,0.05);
    color:  #aaa;
  }
  

  .skill-card:hover {
    transform: translateY(-8px);
    border-color: #ffb400;
    box-shadow: 0 10px 25px rgba(255, 180, 0, 0.15);
  }
  
  /* Icons */
  .skill-card .icon i {
    font-size: 32px;
    color: #ffb400;
    margin-bottom: 15px;
  }
  
  /* Title */
  .skill-card h3 {
    margin-top: 10px;
    font-size: 18px;
  }

  .section-title {
    font-size: 30px;
    margin-left: 30px;
    font-weight: 500;
    text-align: left;
    
  }

  .section-title:after {
    content: "";
    display: block;
    width: 112px; 
    height: 4px;      
    background: #f4c542;
    margin-top: 8px;
    border-radius: 2px;
  }

/* Contact Section */
#contact {
    background: #0b0f1a;
    color: #f8fafc;
    text-align: center;
    padding: 20px ;
    
}

#contact h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

#contact p {
    font-size: 18px;
    color: #94a3b8;
    margin: 10px 0;
}

#contact a {
    color: #0c3647;
    text-decoration: none;
    font-weight: 500;
}


.contact-section {
    background: #0f0f12;
    padding: 80px 10%;
    text-align: center;
    border-radius: 20px;
    margin-top: -40px;
}
  
  .section-titles {
    font-size: 30px;
    margin-left: 30px;
    font-weight: 500;
    text-align: left;
    
  }

  .section-titles:after {
    content: "";
    display: block;
    width: 150px; 
    height: 4px;      
    background: #f4c542;
    margin-top: 8px;
    border-radius: 2px;
  }
  
  .contact-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* EXACTLY 3 boxes */
    gap: 25px;
    margin-top: 40px;
  }
  /* Card Style */
  .contact-card {
    background: linear-gradient(145deg, #1a1a1f, #111114);
    padding: 20px;
    border-radius: 16px;
    text-align: center;
    transition: 0.3s ease;
    border: 1px solid rgba(255,255,255,0.05);
    
    
  }

  .contact-card a.contact-card {
    display: contents;   /* removes the extra wrapper box */
  }
  
  /* Hover Effect */
  .contact-card:hover {
    transform: translateY(-8px);
    border-color: #ffb400;
    box-shadow: 0 10px 25px rgba(255, 180, 0, 0.15);
  }
  
  /* Icon */
  .contact-card .icon {
    font-size: 28px;
    margin-bottom: 15px;
    
  }
  
  /* Text */
  .contact-card h3 {
    margin-bottom: 10px;
    font-size: 10px;
  }
  
  .contact-card p {
    color: #aaa;
    font-size: 14px;
  }